In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'

root_path = "../"
data_path = f"{root_path}data"

In [2]:
market = pd.read_csv(f'{data_path}/AgriMarket.csv')
weather = pd.read_csv(f'{data_path}/AgriWeather.csv')
market.shape, weather.shape

((15880, 11), (23368, 9))

In [3]:
market.head()

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals
0,20050103,200501,103,감자,6323.101449,1013.0,3.33,71.15,69.162,65.4,60.5
1,20050103,200501,103,고구마,4291.111111,1013.0,3.33,53.12,41.811,65.4,60.5
2,20050103,200501,103,깻잎,4534.333333,1013.0,3.33,NaN,53.348,65.4,60.5
3,20050103,200501,103,마늘,20785.714286,1013.0,3.33,49.58,58.270,65.4,60.5
4,20050104,200501,104,감자,6233.314286,1013.0,3.33,71.15,69.162,65.4,60.5

In [4]:
weather.head()

,YMD,Crop_Name,DayAvg_Temperature,DayDiff_Temperature,DayAvg_RelativeHumidity,DaySum_Rainfall,DayAvg_WindSpeed,DaySum_Sunshine,Warning_Count
0,2005-01-01,감자,-3.75,9.25,44.00,0.75,2.25,3.5,0.0
1,2005-01-01,고구마,-3.00,8.00,0.00,0.00,2.00,0.0,0.0
2,2005-01-01,깻잎,-3.50,8.00,29.00,0.00,1.50,4.0,0.0
3,2005-01-01,마늘,-1.20,7.20,31.40,1.40,2.20,2.8,0.0
4,2005-01-02,감자,-0.25,10.75,48.25,0.00,1.75,0.5,0.0

In [5]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YMD                      23368 non-null  object
 1   Crop_Name                23368 non-null  object
 2   DayAvg_Temperature       23368 non-null  float64
 3   DayDiff_Temperature      23368 non-null  float64
 4   DayAvg_RelativeHumidity  23368 non-null  float64
 5   DaySum_Rainfall          23368 non-null  float64
 6   DayAvg_WindSpeed         23368 non-null  float64
 7   DaySum_Sunshine          23368 non-null  float64
 8   Warning_Count            23368 non-null  float64
dtypes: float64(7), object(2)
memory usage: 1.6+ MB

In [6]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15880 entries, 0 to 15879
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YMD               15880 non-null  int64
 1   YM                15880 non-null  int64
 2   MD                15880 non-null  int64
 3   Product           15880 non-null  object
 4   Price             15880 non-null  float64
 5   환율(원/US$)         15880 non-null  float64
 6   콜금리(연%)           15880 non-null  float64
 7   item_PPI          11910 non-null  float64
 8   item_CPI          15880 non-null  float64
 9   Food Price Index  15880 non-null  float64
 10  Cereals           15880 non-null  float64
dtypes: float64(7), int64(3), object(1)
memory usage: 1.3+ MB

In [7]:
market['YMD'] = market['YMD'].astype('str')

In [8]:
market['YMD'] = pd.to_datetime(market['YMD'])
weather['YMD'] = pd.to_datetime(weather['YMD'])

In [9]:
market

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals
0,2005-01-03,200501,103,감자,6323.101449,1013.00,3.33,71.15,69.162,65.4,60.5
1,2005-01-03,200501,103,고구마,4291.111111,1013.00,3.33,53.12,41.811,65.4,60.5
2,2005-01-03,200501,103,깻잎,4534.333333,1013.00,3.33,NaN,53.348,65.4,60.5
3,2005-01-03,200501,103,마늘,20785.714286,1013.00,3.33,49.58,58.270,65.4,60.5
4,2005-01-04,200501,104,감자,6233.314286,1013.00,3.33,71.15,69.162,65.4,60.5
...,...,...,...,...,...,...,...,...,...,...,...
15875,2020-12-30,202012,1230,마늘,53533.333333,1180.05,0.70,102.04,118.170,108.6,116.4
15876,2020-12-31,202012,1231,감자,5094.163934,1180.05,0.70,107.24,102.430,108.6,116.4
15877,2020-12-31,202012,1231,고구마,10700.294118,1180.05,0.70,137.90,96.130,108.6,116.4
15878,2020-12-31,202012,1231,깻잎,7598.166667,1180.05,0.70,NaN,87.660,108.6,116.4
15879,2020-12-31,202012,1231,마늘,53533.333333,1180.05,0.70,102.04,118.170,108.6,116.4

In [10]:
potato_m = market[market['Product'] == '감자']
potato_w = weather[weather['Crop_Name'] == '감자']
potato = pd.merge(potato_m, potato_w, on='YMD', how='left')
potato = potato.reset_index()
potato = potato.drop(columns='index')
potato

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals,Crop_Name,DayAvg_Temperature,DayDiff_Temperature,DayAvg_RelativeHumidity,DaySum_Rainfall,DayAvg_WindSpeed,DaySum_Sunshine,Warning_Count
0,2005-01-03,200501,103,감자,6323.101449,1013.00,3.33,71.15,69.162,65.4,60.5,감자,4.500000,6.750000,47.750000,1.000000,3.750000,0.250000,0.000000
1,2005-01-04,200501,104,감자,6233.314286,1013.00,3.33,71.15,69.162,65.4,60.5,감자,-2.250000,8.000000,36.250000,0.000000,3.000000,3.500000,0.000000
2,2005-01-05,200501,105,감자,6332.028169,1013.00,3.33,71.15,69.162,65.4,60.5,감자,-3.500000,11.500000,44.750000,0.000000,0.500000,4.250000,0.000000
3,2005-01-06,200501,106,감자,6417.352113,1013.00,3.33,71.15,69.162,65.4,60.5,감자,1.500000,7.000000,45.250000,1.500000,1.500000,2.250000,0.000000
4,2005-01-07,200501,107,감자,6581.362319,1013.00,3.33,71.15,69.162,65.4,60.5,감자,0.250000,9.250000,38.750000,0.000000,3.000000,4.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,2020-12-24,202012,1224,감자,4937.806452,1180.05,0.70,107.24,102.430,108.6,116.4,감자,3.481481,8.555556,58.259259,0.000000,2.148148,4.259259,0.333333
3966,2020-12-28,202012,1228,감자,5033.016393,1180.05,0.70,107.24,102.430,108.6,116.4,감자,3.750000,11.416667,82.083333,0.000000,0.333333,3.541667,0.041667
3967,2020-12-29,202012,1229,감자,5015.548387,1180.05,0.70,107.24,102.430,108.6,116.4,감자,1.714286,9.035714,83.107143,0.678571,1.571429,0.750000,0.785714
3968,2020-12-30,202012,1230,감자,5016.354839,1180.05,0.70,107.24,102.430,108.6,116.4,감자,-5.766667,8.166667,62.033333,1.800000,3.866667,2.600000,0.833333
3969,2020-12-31,202012,1231,감자,5094.163934,1180.05,0.70,107.24,102.430,108.6,116.4,감자,-6.076923,9.730769,62.192308,0.307692,1.807692,3.692308,0.615385

In [11]:
garlic_m = market[market['Product'] == '마늘']
galic_w = weather[weather['Crop_Name'] == '마늘']
garlic = pd.merge(garlic_m, galic_w, on='YMD', how='left')
garlic = garlic.reset_index()
garlic = garlic.drop(columns='index')
garlic

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals,Crop_Name,DayAvg_Temperature,DayDiff_Temperature,DayAvg_RelativeHumidity,DaySum_Rainfall,DayAvg_WindSpeed,DaySum_Sunshine,Warning_Count
0,2005-01-03,200501,103,마늘,20785.714286,1013.00,3.33,49.58,58.27,65.4,60.5,마늘,4.400000,12.800000,35.200000,0.000000,2.600000,1.600000,0.000000
1,2005-01-04,200501,104,마늘,20785.714286,1013.00,3.33,49.58,58.27,65.4,60.5,마늘,-0.200000,8.800000,26.000000,0.000000,2.800000,2.800000,0.000000
2,2005-01-05,200501,105,마늘,20928.571429,1013.00,3.33,49.58,58.27,65.4,60.5,마늘,-1.400000,11.200000,33.400000,0.000000,0.600000,3.200000,0.000000
3,2005-01-06,200501,106,마늘,21071.428571,1013.00,3.33,49.58,58.27,65.4,60.5,마늘,2.800000,7.800000,31.200000,1.200000,1.200000,2.600000,0.000000
4,2005-01-07,200501,107,마늘,21071.428571,1013.00,3.33,49.58,58.27,65.4,60.5,마늘,2.000000,7.600000,28.400000,0.000000,2.800000,2.800000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,2020-12-24,202012,1224,마늘,53533.333333,1180.05,0.70,102.04,118.17,108.6,116.4,마늘,4.818182,9.181818,52.515152,0.000000,2.090909,3.303030,0.363636
3966,2020-12-28,202012,1228,마늘,53533.333333,1180.05,0.70,102.04,118.17,108.6,116.4,마늘,4.666667,11.481481,79.518519,0.000000,0.592593,3.222222,0.222222
3967,2020-12-29,202012,1229,마늘,53533.333333,1180.05,0.70,102.04,118.17,108.6,116.4,마늘,2.903226,9.741935,76.225806,1.645161,1.612903,0.645161,0.709677
3968,2020-12-30,202012,1230,마늘,53533.333333,1180.05,0.70,102.04,118.17,108.6,116.4,마늘,-4.057143,7.228571,60.142857,0.714286,4.057143,1.857143,0.857143
3969,2020-12-31,202012,1231,마늘,53533.333333,1180.05,0.70,102.04,118.17,108.6,116.4,마늘,-4.074074,9.333333,58.962963,0.518519,2.185185,2.851852,0.629630

In [12]:
s_potato_m = market[market['Product'] == '고구마']
s_potato_w = weather[weather['Crop_Name'] == '고구마']
s_potato = pd.merge(s_potato_m, s_potato_w, on='YMD', how='left')
s_potato = s_potato.reset_index()
s_potato = s_potato.drop(columns='index')
s_potato

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals,Crop_Name,DayAvg_Temperature,DayDiff_Temperature,DayAvg_RelativeHumidity,DaySum_Rainfall,DayAvg_WindSpeed,DaySum_Sunshine,Warning_Count
0,2005-01-03,200501,103,고구마,4291.111111,1013.00,3.33,53.12,41.811,65.4,60.5,고구마,4.000000,7.000000,0.000000,1.000000,4.000000,0.000000,0.000000
1,2005-01-04,200501,104,고구마,4374.444444,1013.00,3.33,53.12,41.811,65.4,60.5,고구마,-3.000000,5.000000,0.000000,0.000000,4.000000,0.000000,0.000000
2,2005-01-05,200501,105,고구마,4603.720930,1013.00,3.33,53.12,41.811,65.4,60.5,고구마,-5.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2005-01-06,200501,106,고구마,4640.930233,1013.00,3.33,53.12,41.811,65.4,60.5,고구마,0.000000,8.000000,0.000000,0.000000,1.000000,0.000000,0.000000
4,2005-01-07,200501,107,고구마,4515.454545,1013.00,3.33,53.12,41.811,65.4,60.5,고구마,-2.000000,9.000000,0.000000,0.000000,4.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,2020-12-24,202012,1224,고구마,10258.695652,1180.05,0.70,137.90,96.130,108.6,116.4,고구마,3.529412,8.588235,59.117647,0.000000,1.705882,3.529412,0.000000
3966,2020-12-28,202012,1228,고구마,10431.323529,1180.05,0.70,137.90,96.130,108.6,116.4,고구마,3.941176,11.941176,80.352941,0.058824,0.411765,3.117647,0.000000
3967,2020-12-29,202012,1229,고구마,10431.323529,1180.05,0.70,137.90,96.130,108.6,116.4,고구마,1.590909,9.227273,77.227273,1.272727,1.863636,0.636364,0.772727
3968,2020-12-30,202012,1230,고구마,10460.735294,1180.05,0.70,137.90,96.130,108.6,116.4,고구마,-5.500000,6.250000,65.375000,0.291667,3.958333,2.666667,0.833333
3969,2020-12-31,202012,1231,고구마,10700.294118,1180.05,0.70,137.90,96.130,108.6,116.4,고구마,-5.222222,9.222222,66.944444,0.333333,1.666667,3.611111,0.555556

In [13]:
Sesame_leaf_m = market[market['Product'] == '깻잎']
Sesame_leaf_w = weather[weather['Crop_Name'] == '깻잎']
Sesame_leaf = pd.merge(Sesame_leaf_m, Sesame_leaf_w, on='YMD', how='left')
Sesame_leaf = Sesame_leaf.reset_index()
Sesame_leaf = Sesame_leaf.drop(columns='index')
Sesame_leaf

,YMD,YM,MD,Product,Price,환율(원/US$),콜금리(연%),item_PPI,item_CPI,Food Price Index,Cereals,Crop_Name,DayAvg_Temperature,DayDiff_Temperature,DayAvg_RelativeHumidity,DaySum_Rainfall,DayAvg_WindSpeed,DaySum_Sunshine,Warning_Count
0,2005-01-03,200501,103,깻잎,4534.333333,1013.00,3.33,NaN,53.348,65.4,60.5,깻잎,4.500000,10.500000,27.000000,0.000000,2.000000,0.500000,0.000000
1,2005-01-04,200501,104,깻잎,4614.673913,1013.00,3.33,NaN,53.348,65.4,60.5,깻잎,-2.000000,9.000000,23.000000,0.000000,2.500000,4.000000,0.000000
2,2005-01-05,200501,105,깻잎,5114.642857,1013.00,3.33,NaN,53.348,65.4,60.5,깻잎,-3.000000,13.500000,28.500000,0.000000,0.500000,3.500000,0.000000
3,2005-01-06,200501,106,깻잎,4895.595238,1013.00,3.33,NaN,53.348,65.4,60.5,깻잎,1.000000,9.000000,27.500000,0.000000,1.000000,3.000000,0.000000
4,2005-01-07,200501,107,깻잎,4615.465116,1013.00,3.33,NaN,53.348,65.4,60.5,깻잎,0.500000,8.000000,24.500000,0.000000,2.000000,4.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,2020-12-24,202012,1224,깻잎,5960.655738,1180.05,0.70,NaN,87.660,108.6,116.4,깻잎,3.769231,10.538462,56.000000,0.000000,1.769231,4.615385,0.000000
3966,2020-12-28,202012,1228,깻잎,7610.655738,1180.05,0.70,NaN,87.660,108.6,116.4,깻잎,3.076923,12.307692,86.923077,0.000000,0.000000,3.230769,0.000000
3967,2020-12-29,202012,1229,깻잎,7375.833333,1180.05,0.70,NaN,87.660,108.6,116.4,깻잎,2.384615,11.461538,81.307692,1.000000,1.615385,2.230769,0.230769
3968,2020-12-30,202012,1230,깻잎,7581.803279,1180.05,0.70,NaN,87.660,108.6,116.4,깻잎,-5.285714,7.214286,53.714286,0.428571,4.357143,5.928571,0.285714
3969,2020-12-31,202012,1231,깻잎,7598.166667,1180.05,0.70,NaN,87.660,108.6,116.4,깻잎,-5.153846,10.076923,55.384615,0.000000,2.230769,5.923077,0.153846

In [14]:
potato_m.shape, potato_w.shape

((3970, 11), (5842, 9))

In [15]:
# pip install --upgrade pandas

In [20]:
garlic.isnull().sum()

YMD                        0
YM                         0
MD                         0
Product                    0
Price                      0
환율(원/US$)                  0
콜금리(연%)                    0
item_PPI                   0
item_CPI                   0
Food Price Index           0
Cereals                    0
DayAvg_Temperature         1
DayDiff_Temperature        1
DayAvg_RelativeHumidity    1
DaySum_Rainfall            1
DayAvg_WindSpeed           1
DaySum_Sunshine            1
Warning_Count              1
dtype: int64

In [17]:
garlic = garlic.drop(columns='Crop_Name')
Sesame_leaf = Sesame_leaf.drop(columns='Crop_Name')
potato = potato.drop(columns='Crop_Name')
s_potato = s_potato.drop(columns='Crop_Name')

In [23]:
garlic = garlic.fillna(method = 'bfill')
Sesame_leaf = Sesame_leaf.fillna(method = 'bfill')
potato = potato.fillna(method = 'bfill')
s_potato = s_potato.fillna(method = 'bfill')

In [26]:
display(garlic.isna().sum())
display(Sesame_leaf.isna().sum())
display(potato.isna().sum())
display(s_potato.isna().sum())

YMD                        0
YM                         0
MD                         0
Product                    0
Price                      0
환율(원/US$)                  0
콜금리(연%)                    0
item_PPI                   0
item_CPI                   0
Food Price Index           0
Cereals                    0
DayAvg_Temperature         0
DayDiff_Temperature        0
DayAvg_RelativeHumidity    0
DaySum_Rainfall            0
DayAvg_WindSpeed           0
DaySum_Sunshine            0
Warning_Count              0
dtype: int64

YMD                           0
YM                            0
MD                            0
Product                       0
Price                         0
환율(원/US$)                     0
콜금리(연%)                       0
item_PPI                   3970
item_CPI                      0
Food Price Index              0
Cereals                       0
DayAvg_Temperature            0
DayDiff_Temperature           0
DayAvg_RelativeHumidity       0
DaySum_Rainfall               0
DayAvg_WindSpeed              0
DaySum_Sunshine               0
Warning_Count                 0
dtype: int64

YMD                        0
YM                         0
MD                         0
Product                    0
Price                      0
환율(원/US$)                  0
콜금리(연%)                    0
item_PPI                   0
item_CPI                   0
Food Price Index           0
Cereals                    0
DayAvg_Temperature         0
DayDiff_Temperature        0
DayAvg_RelativeHumidity    0
DaySum_Rainfall            0
DayAvg_WindSpeed           0
DaySum_Sunshine            0
Warning_Count              0
dtype: int64

YMD                        0
YM                         0
MD                         0
Product                    0
Price                      0
환율(원/US$)                  0
콜금리(연%)                    0
item_PPI                   0
item_CPI                   0
Food Price Index           0
Cereals                    0
DayAvg_Temperature         0
DayDiff_Temperature        0
DayAvg_RelativeHumidity    0
DaySum_Rainfall            0
DayAvg_WindSpeed           0
DaySum_Sunshine            0
Warning_Count              0
dtype: int64

In [27]:
garlic.to_csv('garlic.csv')
Sesame_leaf.to_csv('Sesame_leaf.csv')
potato.to_csv('potato.csv')
s_potato.to_csv('s_potato.csv')