# Economic


## Major_Economic_Indicators

- File : 주요경제지표_20052021.xlsx
- var : {'Pandas.DataFrame': 'df_mei'}

In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'

root_path = "../"
data_path = f"{root_path}data"

In [81]:
import sys

sys.path.append("../Import")

import definitions

crop_list = definitions.crop_list

In [77]:
df_mei = pd.read_excel('C:\\Users\\Woo\\Documents\\GitHub\\Agricultural-Products-Price-Prediction-\\Data Collection\\data\\주요경제지표_20052021.xlsx',engine="openpyxl")
df_mei

c:\Users\Woo\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,연도,생산자물가지수(2010=100),소비자물가지수(2015=100),경상수지(백만US$),자본수지(백만US$),외환보유액(백만US$),수출액(백만US$),수입액(백만US$),환율(원/US$),실업률(%),콜금리(연%)
0,2021,110.64,108.050,88302.7,-154.3,463118.360,644400.370,615093.450,1144.42,3.7,0.61
1,2020,104.01,105.420,75275.7,-386.3,443098.120,512788.730,467548.715,1180.05,3.9,0.70
2,2019,104.48,104.850,59670.1,-169.3,408816.146,542232.610,503342.947,1157.80,3.8,1.59
3,2018,104.46,104.450,76408.5,316.7,403694.264,604859.657,535202.428,1118.10,3.8,1.52
4,2017,102.53,102.930,78460.0,-26.8,389266.683,573694.421,478478.296,1071.40,3.7,1.26
5,2016,99.11,100.970,98677.4,-46.2,371101.605,495425.934,406192.887,1208.50,3.7,1.34
6,2015,100.95,100.000,105939.6,-60.2,367961.865,526756.498,436498.973,1172.00,3.6,1.65
7,2014,105.17,99.298,84374.0,-8.9,363592.748,572664.602,525514.506,1099.20,3.5,2.34
8,2013,105.73,98.048,81148.2,-27.0,346459.569,559632.400,515585.500,1055.30,3.1,2.59
9,2012,107.45,96.789,50835.0,-41.7,326968.393,547869.800,519584.500,1071.10,3.2,3.08
10,2011,106.71,94.717,18655.8,-112.0,306402.488,555213.700,524413.100,1153.30,3.4,3.09
11,2010,100.00,91.051,28850.4,-63.2,291570.661,466383.762,425212.160,1138.90,3.7,2.16
12,2009,96.33,88.452,33593.3,-69.6,269994.736,363533.400,323084.400,1167.60,3.6,1.98
13,2008,96.53,86.079,3189.7,26.4,201223.413,422007.300,435274.700,1257.50,3.2,4.78
14,2007,88.93,82.235,11794.5,5.7,262224.070,371489.000,356845.800,938.20,3.2,4.77
15,2006,87.67,80.202,3569.2,-69.0,238956.116,325464.849,309382.632,929.60,3.5,4.19
16,2005,86.88,78.444,12654.8,-0.6,210390.703,284418.700,261238.300,1013.00,3.7,3.33

In [78]:
df2 = pd.read_excel('C:\\Users\\Woo\\Documents\\GitHub\\Agricultural-Products-Price-Prediction-\\Data Collection\\data\\생산자물가지수_품목별_연도별_월별.xlsx')
df2 = df2.rename(columns={'계정코드별':'YM'})
df2["YM"] = df2["YM"].map(lambda x : x.split()[0])
df2 = df2.replace("-", np.NaN)
df2 = df2.dropna(axis=0)
df2 = df2[df2["YM"].isin(crop_list)]
for i in df2["YM"]:
    df2["YM"] = df2["YM"].replace(i,f"생산자물가지수_{i}")
df2

,YM,2005.01,2005.02,2005.03,2005.04,2005.05,2005.06,2005.07,2005.08,2005.09,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
0,생산자물가지수_쌀,101.54,102.03,102.34,102.24,102.34,102.43,102.43,102.03,98.28,...,127.81,125.83,121.04,117.76,115.19,112.30,107.45,103.12,118.95,118.39
2,생산자물가지수_콩,113.85,116.71,124.75,125.41,123.54,118.36,115.07,110.21,105.15,...,147.85,148.00,147.78,150.50,151.84,151.53,151.53,151.53,152.97,147.21
3,생산자물가지수_감자,71.15,81.05,84.32,93.61,83.21,43.65,29.87,39.66,37.56,...,137.91,151.95,220.30,197.62,131.95,131.27,142.17,142.83,140.36,150.93
4,생산자물가지수_고구마,53.12,56.55,58.77,67.39,68.48,68.48,68.48,65.73,51.93,...,106.56,102.67,106.02,103.66,104.20,93.86,99.49,94.70,86.18,91.90
5,생산자물가지수_배추,32.83,42.02,43.85,40.10,37.52,43.65,65.23,74.08,112.14,...,170.18,194.07,216.60,237.59,191.57,281.64,372.02,657.60,252.06,138.34
6,생산자물가지수_시금치,48.07,62.09,50.10,45.30,45.16,51.59,61.75,61.75,135.95,...,152.30,118.20,96.31,107.70,132.55,402.91,531.36,337.04,123.26,69.37
11,생산자물가지수_오이,115.90,137.26,108.70,67.88,51.66,42.06,50.83,67.47,53.81,...,146.08,144.49,88.49,67.95,87.00,174.41,181.06,147.16,108.19,93.82
12,생산자물가지수_호박,86.88,93.54,88.17,57.13,34.76,28.38,46.24,98.21,74.26,...,129.30,129.82,84.51,68.90,103.74,147.87,210.90,152.01,108.84,77.14
16,생산자물가지수_무,35.49,35.49,50.79,55.29,56.08,59.07,96.29,89.74,129.33,...,123.50,121.14,122.95,161.63,181.35,227.61,276.95,369.70,316.00,164.89
17,생산자물가지수_풋고추,76.99,115.65,122.01,85.71,59.21,47.11,50.16,40.09,53.68,...,188.70,150.71,119.70,127.20,145.16,204.03,147.23,196.88,147.28,116.07
21,생산자물가지수_양파,58.59,75.88,83.94,71.83,46.94,35.91,33.30,39.92,39.97,...,58.54,55.24,59.40,74.15,136.45,144.67,148.76,146.77,149.89,149.63
25,생산자물가지수_사과,128.34,136.47,143.40,156.62,157.82,157.82,157.82,157.82,157.82,...,75.97,61.96,68.09,62.82,79.63,91.67,92.13,92.13,64.92,60.05
26,생산자물가지수_배,95.79,97.61,109.35,109.45,109.45,109.45,109.45,109.45,89.68,...,133.21,131.25,138.82,149.24,177.62,190.69,176.92,115.06,95.14,98.24

In [79]:
df3 = pd.read_csv('C:\\Users\\Woo\\Documents\\GitHub\\Agricultural-Products-Price-Prediction-\\Data Collection\\data\\소비자물가지수_품목별_연도별_월별_filtered.csv')
df3 = df3.replace("-", np.NaN)
df3 = df3.rename(columns={'품목별':'YM'})
df3 = df3.dropna(axis="rows")
df3 = df3.drop(index=[0,1,2,10,38])
df3["YM"] = df3["YM"].map(lambda x: x.strip())
df3 = df3[df3["YM"].isin(crop_list)]
for i in df3["YM"]:
    df3["YM"] = df3["YM"].replace(i,f"소비자물가지수_{i}")
df3

,YM,2005.01,2005.02,2005.03,2005.04,2005.05,2005.06,2005.07,2005.08,2005.09,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
3,소비자물가지수_쌀,75.464,75.539,75.391,75.093,75.242,75.316,75.168,75.019,74.277,...,102.87,101.90,99.94,98.23,96.77,95.23,92.80,90.34,91.08,96.16
7,소비자물가지수_콩,68.828,68.560,68.022,68.090,67.755,67.217,67.486,67.149,66.880,...,107.30,106.71,105.04,104.34,103.63,103.04,103.01,102.52,102.75,102.03
8,소비자물가지수_땅콩,53.740,53.166,52.225,52.172,53.061,52.225,53.532,52.800,52.905,...,105.40,105.95,106.17,107.06,106.73,107.11,106.28,106.40,106.03,106.44
11,소비자물가지수_배추,24.198,30.398,33.948,38.747,34.098,30.548,46.397,59.345,88.144,...,88.07,89.52,99.28,97.11,93.53,121.93,159.40,210.79,145.04,78.42
13,소비자물가지수_시금치,35.507,40.340,34.949,31.231,31.185,31.092,59.488,85.886,76.869,...,108.70,97.84,85.38,90.61,102.30,199.93,263.91,259.07,129.06,94.44
14,소비자물가지수_양배추,28.861,31.917,30.756,30.215,35.863,33.735,31.608,40.622,47.237,...,69.32,78.05,91.84,107.51,86.90,91.61,95.59,97.27,102.72,95.85
15,소비자물가지수_미나리,42.061,45.730,41.114,37.760,28.686,24.306,31.921,38.786,46.480,...,150.77,125.38,107.91,96.93,93.65,117.77,138.90,162.98,138.37,135.50
16,소비자물가지수_깻잎,53.348,56.294,50.309,42.828,39.602,35.908,44.090,44.417,48.953,...,127.90,108.14,109.04,104.66,101.58,111.87,123.33,149.95,123.21,101.30
18,소비자물가지수_무,35.327,40.205,40.675,43.791,44.202,39.911,58.427,70.535,90.755,...,77.93,73.48,71.57,87.46,98.21,122.47,146.13,171.60,174.99,114.19
19,소비자물가지수_열무,47.582,47.582,70.946,56.072,49.623,48.109,77.067,81.278,82.594,...,118.18,152.02,143.96,106.42,100.72,167.01,181.51,156.32,109.49,94.45
20,소비자물가지수_당근,54.593,52.496,50.497,50.147,51.446,48.100,47.000,48.899,50.697,...,68.34,66.77,73.34,83.89,82.03,86.07,92.47,112.48,118.10,106.29
21,소비자물가지수_감자,69.162,74.989,70.888,66.735,66.195,52.277,37.710,37.926,40.246,...,127.38,135.67,156.24,154.11,126.55,114.86,114.35,116.86,116.26,118.13
22,소비자물가지수_고구마,41.811,43.180,43.843,45.344,46.094,46.094,56.470,47.066,43.180,...,86.90,85.52,84.40,83.65,83.26,83.32,87.10,87.81,83.75,81.28
26,소비자물가지수_오이,51.792,64.107,53.364,43.430,38.819,33.802,44.039,48.042,47.586,...,149.86,127.01,116.55,87.01,85.90,148.97,157.40,139.27,124.60,94.26
27,소비자물가지수_풋고추,57.365,73.732,81.833,62.205,50.514,44.587,43.554,40.618,50.949,...,119.88,114.39,108.12,96.25,97.58,122.52,118.30,133.75,104.78,103.57
28,소비자물가지수_호박,79.112,95.253,79.182,60.547,42.743,38.239,50.363,76.272,80.705,...,131.18,112.78,95.83,71.25,79.13,119.17,139.60,150.09,101.54,81.50
32,소비자물가지수_양파,55.449,62.842,72.111,78.677,59.918,48.884,44.690,44.690,48.056,...,83.54,77.04,78.58,78.15,88.41,97.90,101.09,105.93,109.17,111.70
37,소비자물가지수_생강,47.425,49.972,51.460,52.325,52.277,52.325,52.134,52.277,51.749,...,61.02,61.67,61.95,62.02,62.07,63.67,64.74,68.26,73.11,82.07
39,소비자물가지수_사과,79.064,93.523,96.489,100.474,101.401,101.401,101.401,101.401,101.401,...,102.88,102.08,99.87,100.67,105.48,112.07,117.77,105.89,95.20,92.91
40,소비자물가지수_배,68.187,73.784,76.547,77.564,77.564,77.564,77.564,77.564,82.217,...,119.20,120.04,117.85,119.97,124.98,128.98,124.17,118.03,104.94,96.69
41,소비자물가지수_복숭아,89.542,89.542,89.542,89.542,89.542,89.542,90.508,87.169,84.973,...,139.27,135.25,137.69,133.56,129.78,137.17,127.86,136.40,130.99,121.20
42,소비자물가지수_포도,107.898,107.898,107.898,107.898,107.898,107.898,143.963,88.974,75.896,...,126.67,122.50,122.89,128.01,133.53,154.93,158.97,138.43,131.76,121.98

In [80]:
df = pd.concat([df2, df3], axis = 0)
display(df.T)
print(df.isnull().sum().sum())

,0,2,3,4,5,6,11,12,16,17,...,22,26,27,28,32,37,39,40,41,42
YM,생산자물가지수_쌀,생산자물가지수_콩,생산자물가지수_감자,생산자물가지수_고구마,생산자물가지수_배추,생산자물가지수_시금치,생산자물가지수_오이,생산자물가지수_호박,생산자물가지수_무,생산자물가지수_풋고추,...,소비자물가지수_고구마,소비자물가지수_오이,소비자물가지수_풋고추,소비자물가지수_호박,소비자물가지수_양파,소비자물가지수_생강,소비자물가지수_사과,소비자물가지수_배,소비자물가지수_복숭아,소비자물가지수_포도
2005.01,101.54,113.85,71.15,53.12,32.83,48.07,115.9,86.88,35.49,76.99,...,41.811,51.792,57.365,79.112,55.449,47.425,79.064,68.187,89.542,107.898
2005.02,102.03,116.71,81.05,56.55,42.02,62.09,137.26,93.54,35.49,115.65,...,43.180,64.107,73.732,95.253,62.842,49.972,93.523,73.784,89.542,107.898
2005.03,102.34,124.75,84.32,58.77,43.85,50.1,108.7,88.17,50.79,122.01,...,43.843,53.364,81.833,79.182,72.111,51.460,96.489,76.547,89.542,107.898
2005.04,102.24,125.41,93.61,67.39,40.1,45.3,67.88,57.13,55.29,85.71,...,45.344,43.430,62.205,60.547,78.677,52.325,100.474,77.564,89.542,107.898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.07,112.3,151.53,131.27,93.86,281.64,402.91,174.41,147.87,227.61,204.03,...,83.32,148.97,122.52,119.17,97.9,63.67,112.07,128.98,137.17,154.93
2022.08,107.45,151.53,142.17,99.49,372.02,531.36,181.06,210.9,276.95,147.23,...,87.1,157.4,118.3,139.6,101.09,64.74,117.77,124.17,127.86,158.97
2022.09,103.12,151.53,142.83,94.7,657.6,337.04,147.16,152.01,369.7,196.88,...,87.81,139.27,133.75,150.09,105.93,68.26,105.89,118.03,136.4,138.43
2022.10,118.95,152.97,140.36,86.18,252.06,123.26,108.19,108.84,316.0,147.28,...,83.75,124.6,104.78,101.54,109.17,73.11,95.2,104.94,130.99,131.76
2022.11,118.39,147.21,150.93,91.9,138.34,69.37,93.82,77.14,164.89,116.07,...,81.28,94.26,103.57,81.5,111.7,82.07,92.91,96.69,121.2,121.98

0