# Economic


## Major_Economic_Indicators

- File : 주요경제지표_20052021.xlsx
- var : {'Pandas.DataFrame': 'df_mei'}

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'

root_path = "../"
data_path = f"{root_path}data"

c:\Users\sacer\miniconda3\envs\asd1\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
file = f"{data_path}/주요경제지표_20052021.xlsx"
df_mei = pd.read_excel(file, engine="openpyxl")
print(df_mei.shape)
display(df_mei.head(df_mei.shape[0]))

(17, 11)

c:\Users\sacer\miniconda3\envs\asd1\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,연도,생산자물가지수(2010=100),소비자물가지수(2015=100),경상수지(백만US$),자본수지(백만US$),외환보유액(백만US$),수출액(백만US$),수입액(백만US$),환율(원/US$),실업률(%),콜금리(연%)
0,2021,110.64,108.050,88302.7,-154.3,463118.360,644400.370,615093.450,1144.42,3.7,0.61
1,2020,104.01,105.420,75275.7,-386.3,443098.120,512788.730,467548.715,1180.05,3.9,0.70
2,2019,104.48,104.850,59670.1,-169.3,408816.146,542232.610,503342.947,1157.80,3.8,1.59
3,2018,104.46,104.450,76408.5,316.7,403694.264,604859.657,535202.428,1118.10,3.8,1.52
4,2017,102.53,102.930,78460.0,-26.8,389266.683,573694.421,478478.296,1071.40,3.7,1.26
5,2016,99.11,100.970,98677.4,-46.2,371101.605,495425.934,406192.887,1208.50,3.7,1.34
6,2015,100.95,100.000,105939.6,-60.2,367961.865,526756.498,436498.973,1172.00,3.6,1.65
7,2014,105.17,99.298,84374.0,-8.9,363592.748,572664.602,525514.506,1099.20,3.5,2.34
8,2013,105.73,98.048,81148.2,-27.0,346459.569,559632.400,515585.500,1055.30,3.1,2.59
9,2012,107.45,96.789,50835.0,-41.7,326968.393,547869.800,519584.500,1071.10,3.2,3.08
10,2011,106.71,94.717,18655.8,-112.0,306402.488,555213.700,524413.100,1153.30,3.4,3.09
11,2010,100.00,91.051,28850.4,-63.2,291570.661,466383.762,425212.160,1138.90,3.7,2.16
12,2009,96.33,88.452,33593.3,-69.6,269994.736,363533.400,323084.400,1167.60,3.6,1.98
13,2008,96.53,86.079,3189.7,26.4,201223.413,422007.300,435274.700,1257.50,3.2,4.78
14,2007,88.93,82.235,11794.5,5.7,262224.070,371489.000,356845.800,938.20,3.2,4.77
15,2006,87.67,80.202,3569.2,-69.0,238956.116,325464.849,309382.632,929.60,3.5,4.19
16,2005,86.88,78.444,12654.8,-0.6,210390.703,284418.700,261238.300,1013.00,3.7,3.33

In [3]:
df_mei = pd.read_excel('/content/drive/Shareddrives/Agricultural Products Price Prediction/data/주요경제지표_20052021.xlsx')
df_mei

/usr/local/lib/python3.8/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,연도,생산자물가지수(2010=100),소비자물가지수(2015=100),경상수지(백만US$),자본수지(백만US$),외환보유액(백만US$),수출액(백만US$),수입액(백만US$),환율(원/US$),실업률(%),콜금리(연%)
0,2021,110.64,108.050,88302.7,-154.3,463118.360,644400.370,615093.450,1144.42,3.7,0.61
1,2020,104.01,105.420,75275.7,-386.3,443098.120,512788.730,467548.715,1180.05,3.9,0.70
2,2019,104.48,104.850,59670.1,-169.3,408816.146,542232.610,503342.947,1157.80,3.8,1.59
3,2018,104.46,104.450,76408.5,316.7,403694.264,604859.657,535202.428,1118.10,3.8,1.52
4,2017,102.53,102.930,78460.0,-26.8,389266.683,573694.421,478478.296,1071.40,3.7,1.26
5,2016,99.11,100.970,98677.4,-46.2,371101.605,495425.934,406192.887,1208.50,3.7,1.34
6,2015,100.95,100.000,105939.6,-60.2,367961.865,526756.498,436498.973,1172.00,3.6,1.65
7,2014,105.17,99.298,84374.0,-8.9,363592.748,572664.602,525514.506,1099.20,3.5,2.34
8,2013,105.73,98.048,81148.2,-27.0,346459.569,559632.400,515585.500,1055.30,3.1,2.59
9,2012,107.45,96.789,50835.0,-41.7,326968.393,547869.800,519584.500,1071.10,3.2,3.08
10,2011,106.71,94.717,18655.8,-112.0,306402.488,555213.700,524413.100,1153.30,3.4,3.09
11,2010,100.00,91.051,28850.4,-63.2,291570.661,466383.762,425212.160,1138.90,3.7,2.16
12,2009,96.33,88.452,33593.3,-69.6,269994.736,363533.400,323084.400,1167.60,3.6,1.98
13,2008,96.53,86.079,3189.7,26.4,201223.413,422007.300,435274.700,1257.50,3.2,4.78
14,2007,88.93,82.235,11794.5,5.7,262224.070,371489.000,356845.800,938.20,3.2,4.77
15,2006,87.67,80.202,3569.2,-69.0,238956.116,325464.849,309382.632,929.60,3.5,4.19
16,2005,86.88,78.444,12654.8,-0.6,210390.703,284418.700,261238.300,1013.00,3.7,3.33

In [4]:
df2 = pd.read_excel('/content/drive/Shareddrives/Agricultural Products Price Prediction/data/생산자물가지수_품목별_연도별_월별.xlsx')
df2 = df2.rename(columns={'계정코드별':'YM'})
df2["YM"] = df2["YM"].map(lambda x : x.split()[0])
df2 = df2.replace("-", np.NaN)
df2 = df2.dropna(axis=0)
for i in df2["YM"]:
    df2["YM"] = df2["YM"].replace(i,f"생산자물가지수_{i}")
df2.T

,0,1,2,3,4,5,6,7,9,10,...,26,29,30,31,33,34,35,36,37,38
YM,생산자물가지수_쌀,생산자물가지수_보리쌀,생산자물가지수_콩,생산자물가지수_감자,생산자물가지수_고구마,생산자물가지수_배추,생산자물가지수_시금치,생산자물가지수_상추,생산자물가지수_수박,생산자물가지수_참외,...,생산자물가지수_배,생산자물가지수_감귤,생산자물가지수_감,생산자물가지수_절화류,생산자물가지수_인삼,생산자물가지수_한약재료,생산자물가지수_잎담배,생산자물가지수_참깨,생산자물가지수_들깨,생산자물가지수_생우유
2005.01,101.54,58.37,113.85,71.15,53.12,32.83,48.07,38.65,46.3,57.57,...,95.79,124.88,157.62,77.93,109.9,47.22,67.06,75.25,57.39,66.84
2005.02,102.03,58.37,116.71,81.05,56.55,42.02,62.09,37.75,46.3,57.57,...,97.61,142.8,189.74,89.8,124.16,48.71,67.06,76.91,59.02,66.9
2005.03,102.34,58.37,124.75,84.32,58.77,43.85,50.1,40.94,46.3,57.57,...,109.35,152.12,196.78,72.01,132.5,49.87,75.1,82.29,60.24,66.5
2005.04,102.24,58.37,125.41,93.61,67.39,40.1,45.3,42.96,46.3,145.31,...,109.45,150.83,196.78,56.12,137.64,53.19,75.1,82.22,60.07,66.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.07,112.3,76.28,151.53,131.27,93.86,281.64,402.91,330.06,191.15,125.28,...,190.69,80.67,294.87,96.45,92.94,87.21,108.77,153.99,153.86,99.94
2022.08,107.45,76.28,151.53,142.17,99.49,372.02,531.36,298.4,205.62,141.47,...,176.92,80.67,294.87,119.27,90.33,87.21,108.77,150.66,153.86,99.89
2022.09,103.12,76.28,151.53,142.83,94.7,657.6,337.04,169.75,140.6,141.47,...,115.06,80.67,294.87,148.19,96.74,87.55,108.77,143.56,152.96,101.44
2022.10,118.95,76.28,152.97,140.36,86.18,252.06,123.26,94.79,122.22,141.47,...,95.14,92.06,177.86,132.62,80.31,87.84,108.77,140.64,152.21,105.0
2022.11,118.39,76.28,147.21,150.93,91.9,138.34,69.37,59.05,129.74,141.47,...,98.24,76.93,159.79,104.08,76.68,87.87,108.77,137.1,150.42,107.75

In [5]:
df3 = pd.read_csv('/content/drive/Shareddrives/Agricultural Products Price Prediction/data/소비자물가지수_품목별_연도별_월별_filtered.csv')
df3 = df3.replace("-", np.NaN)
df3 = df3.rename(columns={'품목별':'YM'})
df3 = df3.dropna(axis="rows")
df3 = df3.drop(index=[0,1,2,10,38])
for i in df3["YM"]:
    df3["YM"] = df3["YM"].replace(i,f"생산자물가지수_{i}")
df3.T

,3,5,6,7,8,11,12,13,14,15,...,42,43,44,45,46,47,48,49,50,51
YM,생산자물가지수_ 쌀,생산자물가지수_ 찹쌀,생산자물가지수_ 보리쌀,생산자물가지수_ 콩,생산자물가지수_ 땅콩,생산자물가지수_ 배추,생산자물가지수_ 상추,생산자물가지수_ 시금치,생산자물가지수_ 양배추,생산자물가지수_ 미나리,...,생산자물가지수_ 포도,생산자물가지수_ 밤,생산자물가지수_ 감,생산자물가지수_ 귤,생산자물가지수_ 오렌지,생산자물가지수_ 참외,생산자물가지수_ 수박,생산자물가지수_ 딸기,생산자물가지수_ 바나나,생산자물가지수_ 키위
2005.01,75.464,78.245,61.778,68.828,53.740,24.198,45.498,35.507,28.861,42.061,...,107.898,70.421,65.976,60.660,88.103,89.936,87.153,89.212,55.297,99.036
2005.02,75.539,76.985,61.839,68.560,53.166,30.398,46.789,40.340,31.917,45.730,...,107.898,70.759,82.984,76.945,88.621,89.936,87.153,84.847,59.839,99.036
2005.03,75.391,76.120,61.778,68.022,52.225,33.948,45.229,34.949,30.756,41.114,...,107.898,70.083,94.238,82.193,87.068,89.936,87.153,79.316,61.371,99.229
2005.04,75.093,77.694,61.839,68.090,52.172,38.747,43.294,31.231,30.215,37.760,...,107.898,70.083,99.736,83.505,95.438,161.234,87.153,78.538,62.620,99.132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.07,95.23,97.55,106.59,103.04,107.11,121.93,181.39,199.93,91.61,117.77,...,154.93,99.88,130.73,124.37,126.8,98.69,128.08,95.86,116.57,120.09
2022.08,92.8,95.74,108.89,103.01,106.28,159.4,179.79,263.91,95.59,138.9,...,158.97,98.85,130.16,127.32,129.69,111.7,142.38,98.11,114.02,119.46
2022.09,90.34,97.04,109.55,102.52,106.4,210.79,172.65,259.07,97.27,162.98,...,138.43,97.21,130.37,122.19,124.65,108.58,136.83,94.39,112.11,121.91
2022.10,91.08,96.87,110.14,102.75,106.03,145.04,103.27,129.06,102.72,138.37,...,131.76,99.11,114.48,142.15,119.74,105.11,131.49,90.7,115.58,119.24
2022.11,96.16,95.84,111.09,102.03,106.44,78.42,88.2,94.44,95.85,135.5,...,121.98,98.31,96.96,113.06,110.71,97.89,121.57,83.87,115.45,118.81

In [2]:
df = pd.concat([df2, df3], axis = 0)
display(df.T)
print(df.isnull().sum().sum())

NameError: name 'df2' is not defined