# Wall_Maria (가제)

In [ ]:
# standard Library ---- ---- ---- ----
import random
import os
import sys
print("sys.version :", sys.version)
import glob
from pprint import pprint
import time



# etc ---- ---- ---- ----
import warnings
warnings.filterwarnings(action='ignore') 
import tqdm
# if ("cv2" in sys.modules) == False:
#     !pip install opencv-python
# import cv2
# print("cv2.__version__ :", cv2.__version__)



# Data ---- ---- ---- ----
import numpy as np
print("np.__version__ :", np.__version__)
import pandas as pd
print("pd.__version__ :", pd.__version__)
pd.options.display.float_format = '{:.3f}'.format
import matplotlib.pyplot as plt
import seaborn as sns



# ML, DL ---- ---- ---- ----
import tensorflow as tf
print("tf.__version__ :", tf.__version__)
# from tensorflow.python.client import device_lib
# print(device_lib.list_local_devices())
import torch
print("torch.__version__ :", torch.__version__)
# device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

# gpu_info = !nvidia-smi
# gpu_info = '\n'.join(gpu_info)
# if gpu_info.find('failed') >= 0:
#     print('Not connected to a GPU')
# else:
#     print(gpu_info)


sys.path.append("../Import")
from definitions import crop_list2
from modul import reduce_mem_usage

root_path = "../"
data_path = f"{root_path}data/"

sys.version : 3.10.8 | packaged by conda-forge | (main, Nov 22 2022, 08:16:53) [MSC v.1929 64 bit (AMD64)]
np.__version__ : 1.23.3
pd.__version__ : 1.5.0

ImportError: cannot import name 'VectorPlotter' from 'seaborn._core' (c:\Users\sacer\miniconda3\envs\asd2\lib\site-packages\seaborn\_core\__init__.py)

In [4]:
df_raw = pd.read_csv(f"{data_path}AgriMarket.csv")


print("┌▣ df_raw.shape")
print(df_raw.shape)

print("\n\n┌▣ df_raw.info()")
print(df_raw.info())

print("\n\n┌▣ df_raw.describe().T")
display(df_raw.describe().T)

print("\n\n┌▣ df_raw.head()")
display(df_raw.head())

┌▣ df_raw.shape
(15880, 7)


┌▣ df_raw.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15880 entries, 0 to 15879
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   YMD        15880 non-null  int64
 1   Product    15880 non-null  object
 2   Price      15880 non-null  float64
 3   환율(원/US$)  15880 non-null  float64
 4   콜금리(연%)    15880 non-null  float64
 5   item_PPI   11910 non-null  float64
 6   item_CPI   15880 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 868.6+ KB
None


┌▣ df_raw.describe().T

,count,mean,std,min,25%,50%,75%,max
YMD,15880.000,20125225.353,46172.303,20050103.000,20081217.000,20121166.500,20161215.000,20201231.000
Price,15880.000,13903.522,16178.767,2193.026,4509.877,6981.021,14251.275,73375.000
환율(원/US$),15880.000,1108.048,88.882,929.600,1055.300,1138.900,1167.600,1257.500
콜금리(연%),15880.000,2.528,1.214,0.700,1.590,2.340,3.330,4.780
item_PPI,11910.000,88.872,35.456,29.870,62.670,84.150,110.385,353.360
item_CPI,15880.000,78.725,24.509,35.908,59.595,73.189,94.780,212.401

┌▣ df_raw.head()

        YMD Product     Price  환율(원/US$)  콜금리(연%)  item_PPI  item_CPI
0  20050103      감자  6323.101   1013.000    3.330    71.150    69.162
1  20050103     고구마  4291.111   1013.000    3.330    53.120    41.811
2  20050103      깻잎  4534.333   1013.000    3.330       NaN    53.348
3  20050103      마늘 20785.714   1013.000    3.330    49.580    58.270
4  20050104      감자  6233.314   1013.000    3.330    71.150    69.162

# df[]

In [5]:
crop = "마늘"

df = df_raw[df_raw["Product"] == crop]
df

            YMD Product     Price  환율(원/US$)  콜금리(연%)  item_PPI  item_CPI
3      20050103      마늘 20785.714   1013.000    3.330    49.580    58.270
7      20050104      마늘 20785.714   1013.000    3.330    49.580    58.270
11     20050105      마늘 20928.571   1013.000    3.330    49.580    58.270
15     20050106      마늘 21071.429   1013.000    3.330    49.580    58.270
19     20050107      마늘 21071.429   1013.000    3.330    49.580    58.270
...         ...     ...       ...        ...      ...       ...       ...
15863  20201224      마늘 53533.333   1180.050    0.700   102.040   118.170
15867  20201228      마늘 53533.333   1180.050    0.700   102.040   118.170
15871  20201229      마늘 53533.333   1180.050    0.700   102.040   118.170
15875  20201230      마늘 53533.333   1180.050    0.700   102.040   118.170
15879  20201231      마늘 53533.333   1180.050    0.700   102.040   118.170

[3970 rows x 7 columns]

In [ ]:
df.shape[0] / (365*(5/7))

10.876712328767123