In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
%config InlineBackend.figure_format = 'retina'

In [3]:
# 경로 자신에게 맞게 확인
df = pd.read_csv('../data/PriceList.csv')

In [4]:
df['YMD'] = df['YMD'].astype(str)

In [5]:
# Wholesale : 도매
df_w = df[df['WR']=='도매']

In [6]:
# Retail : 소매
df_r = df[df['WR']=='소매']

In [7]:
product_w = df_w['Product'].unique()
product_w = product_w.tolist()

In [8]:
product_r = df_r['Product'].unique()
product_r = product_r.tolist()

In [9]:
crop_list = ['호박', '고구마', '양파', '무', '배', '배추', '피마늘', '양배추', '시금치', '콩', '땅콩', '풋고추', '오이', '깻잎', '생강', '사과', '포도', '당근', '복숭아', '미나리', '감자', '열무', '쌀']

print(len(crop_list))

23

# 물가지수 파일과 겹치는 품목 확인

In [10]:
df_1 = pd.read_csv('../data/소비자물가지수_품목별_연도별_월별_filtered.csv')

In [11]:
df_1['품목별'].unique()

array(['총지수', '농축수산물', '\u3000\u3000\u3000(농산물)곡물',
       '\u3000\u3000\u3000\u3000\u3000\u3000쌀',
       '\u3000\u3000\u3000\u3000\u3000\u3000현미',
       '\u3000\u3000\u3000\u3000\u3000\u3000찹쌀',
       '\u3000\u3000\u3000\u3000\u3000\u3000보리쌀',
       '\u3000\u3000\u3000\u3000\u3000\u3000콩',
       '\u3000\u3000\u3000\u3000\u3000\u3000땅콩',
       '\u3000\u3000\u3000\u3000\u3000\u3000혼식곡',
       '\u3000\u3000\u3000(농산물)채소',
       '\u3000\u3000\u3000\u3000\u3000\u3000배추',
       '\u3000\u3000\u3000\u3000\u3000\u3000상추',
       '\u3000\u3000\u3000\u3000\u3000\u3000시금치',
       '\u3000\u3000\u3000\u3000\u3000\u3000양배추',
       '\u3000\u3000\u3000\u3000\u3000\u3000미나리',
       '\u3000\u3000\u3000\u3000\u3000\u3000깻잎',
       '\u3000\u3000\u3000\u3000\u3000\u3000부추',
       '\u3000\u3000\u3000\u3000\u3000\u3000무',
       '\u3000\u3000\u3000\u3000\u3000\u3000열무',
       '\u3000\u3000\u3000\u3000\u3000\u3000당근',
       '\u3000\u3000\u3000\u3000\u3000\u3000감자',
       '\u3000\u3000\u3000\u3000\u3000\u3000고구마',
       '\u3000\u3000\u3000\u3000\u3000\u3000도라지',
       '\u3000\u3000\u3000\u3000\u3000\u3000콩나물',
       '\u3000\u3000\u3000\u3000\u3000\u3000버섯',
       '\u3000\u3000\u3000\u3000\u3000\u3000오이',
       '\u3000\u3000\u3000\u3000\u3000\u3000풋고추',
       '\u3000\u3000\u3000\u3000\u3000\u3000호박',
       '\u3000\u3000\u3000\u3000\u3000\u3000가지',
       '\u3000\u3000\u3000\u3000\u3000\u3000토마토',
       '\u3000\u3000\u3000\u3000\u3000\u3000파',
       '\u3000\u3000\u3000\u3000\u3000\u3000양파',
       '\u3000\u3000\u3000\u3000\u3000\u3000마늘',
       '\u3000\u3000\u3000\u3000\u3000\u3000브로콜리',
       '\u3000\u3000\u3000\u3000\u3000\u3000고사리',
       '\u3000\u3000\u3000\u3000\u3000\u3000파프리카',
       '\u3000\u3000\u3000\u3000\u3000\u3000생강',
       '\u3000\u3000\u3000(농산물)과실',
       '\u3000\u3000\u3000\u3000\u3000\u3000사과',
       '\u3000\u3000\u3000\u3000\u3000\u3000배',
       '\u3000\u3000\u3000\u3000\u3000\u3000복숭아',
       '\u3000\u3000\u3000\u3000\u3000\u3000포도',
       '\u3000\u3000\u3000\u3000\u3000\u3000밤',
       '\u3000\u3000\u3000\u3000\u3000\u3000감',
       '\u3000\u3000\u3000\u3000\u3000\u3000귤',
       '\u3000\u3000\u3000\u3000\u3000\u3000오렌지',
       '\u3000\u3000\u3000\u3000\u3000\u3000참외',
       '\u3000\u3000\u3000\u3000\u3000\u3000수박',
       '\u3000\u3000\u3000\u3000\u3000\u3000딸기',
       '\u3000\u3000\u3000\u3000\u3000\u3000바나나',
       '\u3000\u3000\u3000\u3000\u3000\u3000키위'], dtype=object)

In [12]:
# replace로 \u3000 값이 사라지지 않는다.. 이유는 모르겠음
df_1['품목별'] = df_1['품목별'].replace('\u3000', '')

In [13]:
df_1['품목별'] = df_1['품목별'].map(lambda x:x.strip(('\u3000')))

In [14]:
df_1['품목별'].unique()

array(['총지수', '농축수산물', '(농산물)곡물', '쌀', '현미', '찹쌀', '보리쌀', '콩', '땅콩',
       '혼식곡', '(농산물)채소', '배추', '상추', '시금치', '양배추', '미나리', '깻잎', '부추', '무',
       '열무', '당근', '감자', '고구마', '도라지', '콩나물', '버섯', '오이', '풋고추', '호박',
       '가지', '토마토', '파', '양파', '마늘', '브로콜리', '고사리', '파프리카', '생강',
       '(농산물)과실', '사과', '배', '복숭아', '포도', '밤', '감', '귤', '오렌지', '참외',
       '수박', '딸기', '바나나', '키위'], dtype=object)

In [15]:
df['Product'].unique()

array(['쌀', '찹쌀', '콩', '팥', '녹두', '메밀', '고구마', '감자', '배추', '양배추', '시금치',
       '상추', '수박', '오이', '호박', '토마토', '무', '당근', '건고추', '풋고추', '붉은고추',
       '피마늘', '깐마늘(국산)', '깐마늘(수입)', '양파', '파', '생강', '미나리', '깻잎', '피망',
       '참깨', '들깨', '땅콩', '느타리버섯', '팽이버섯', '사과', '배', '포도', '감귤', '단감',
       '바나나', '참다래', '오렌지', '방울토마토', '고등어', '갈치', '명태', '물오징어', '건멸치',
       '북어', '건오징어', '김', '건미역', '굴', '수입조기', '돼지고기', '닭고기', '계란', '우유',
       '딸기', '참외', '복숭아', '쇠고기', '파프리카', '멜론', '새송이버섯', '얼갈이배추', '열무',
       '건포도', '건블루베리', '레몬', '체리', '아몬드', '자몽', '호두', '고춧가루', '굵은소금',
       '멸치액젓', '새우젓', '망고', '파인애플', '갓', '가지', '부추', '새우', '전복', '꽁치',
       '브로콜리', '청경채', '케일', '양송이버섯', '표고버섯', '귀리', '보리', '수수', '율무',
       '양상추', '혼합곡'], dtype=object)

In [16]:
Product_list=[]

for i in df['Product'].unique():
    if i in df_1['품목별'].unique():
        Product_list.append(i)

print(Product_list)

['쌀', '찹쌀', '콩', '고구마', '감자', '배추', '양배추', '시금치', '상추', '수박', '오이', '호박', '토마토', '무', '당근', '풋고추', '양파', '파', '생강', '미나리', '깻잎', '땅콩', '사과', '배', '포도', '바나나', '오렌지', '딸기', '참외', '복숭아', '파프리카', '열무', '가지', '부추', '브로콜리']

In [17]:
len(Product_list)

35

# crop_list 이외 품목 삭제

In [18]:
df_w = df_w[df_w["Product"].isin(crop_list)]

In [19]:
len(df_w["Product"].unique())

23

In [20]:
df_w.head()

        YMD Region Product  WR Grade    Price     Y  M  D  YearMonth
0  20050103     서울       쌀  도매    상품  40000.0  2005  1  3     200501
1  20050103     부산       쌀  도매    상품  40000.0  2005  1  3     200501
2  20050103     대구       쌀  도매    상품  40000.0  2005  1  3     200501
3  20050103     광주       쌀  도매    상품  40000.0  2005  1  3     200501
4  20050103     대전       쌀  도매    상품  40000.0  2005  1  3     200501

# Grade (상품, 중품) 평균가격으로 Price 계산

In [23]:
df_gw= pd.DataFrame(data=df_w.groupby(["YMD","Product"])["Price"].mean().reset_index())
df_gw['Y'] = df_gw['YMD'].map(lambda x:x[:4]).astype('int32')
df_gw['MD'] = df_gw['YMD'].map(lambda x:x[4:]).astype('str')


df_gw

            YMD Product          Price     Y    MD
0      20050103      감자   21200.000000  2005  0103
1      20050103     고구마   11300.000000  2005  0103
2      20050103      깻잎   16500.000000  2005  0103
3      20050103      당근   21300.000000  2005  0103
4      20050103      땅콩  105600.000000  2005  0103
...         ...     ...            ...   ...   ...
85917  20201231       콩  184214.285714  2020  1231
85918  20201231      포도   23790.000000  2020  1231
85919  20201231     풋고추   34323.333333  2020  1231
85920  20201231     피마늘   53533.333333  2020  1231
85921  20201231      호박   18536.500000  2020  1231

[85922 rows x 5 columns]

In [24]:
df_gr= pd.DataFrame(data=df_r.groupby(["YMD","Product"])["Price"].mean().reset_index())
df_gr['Y'] = df_gr['YMD'].map(lambda x:x[:4]).astype('int32')
df_gr['MD'] = df_gr['YMD'].map(lambda x:x[4:]).astype('str')
df_gr

             YMD Product         Price     Y    MD
0       20050103      갈치   7360.606061  2005  0103
1       20050103      감귤   1793.461538  2005  0103
2       20050103      감자    250.897959  2005  0103
3       20050103     건고추   7034.864865  2005  0103
4       20050103     건멸치   2010.000000  2005  0103
...          ...     ...           ...   ...   ...
250187  20201231      포도  32576.363636  2020  1231
250188  20201231     풋고추    932.195122  2020  1231
250189  20201231      피망   1073.191489  2020  1231
250190  20201231      호두   1466.341463  2020  1231
250191  20201231      호박   1569.130435  2020  1231

[250192 rows x 5 columns]

# 파일로 저장

In [ ]:
df_gw.to_csv("../data/df_gw.csv", index = False)

In [ ]:
df_gr.to_csv("../data/df_gr.csv", index = False)